@import "./normalize.css";
@import "../../../public/font_ecmk3s68lmg/iconfont.css";
/*:root -> 获取根元素html*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

@font-face {
      font-family: 'iconfont';
      src: url('../../../public/font_ecmk3s68lmg/iconfont.ttf?t=1635817391007') format('truetype');
    }
.icon {
  width: 2em;
  height: 2.2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
 .iconfont {
      font-family: "iconfont" !important;
      font-size: 16px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

.van-toast {
  z-index: 99999 !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent;
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: #f0f0f0;
  color: var(--color-text);
  /* rem vw/vh */
}

a {
  color: var(--color-text);
  text-decoration: none;
}


.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
.van-swipe__indicators {
  position: absolute !important;

  bottom: 30px !important;
}
.van-swipe__indicator{
  height: 8px !important;
  width: 8px !important;
}
.van-overlay van-image-preview__overlay{
 padding: 50px;
}
.icon-wodetaobao2:before{
  font-size: 27px;
}